@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/*importando a fonte Roboto do Google Fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    background: #E6F4EA; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height:100vh;
    padding: 20px;  
    color: #333;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #F2F3F7;
    padding: 40px;
    border-radius: 15px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 600px; 
    text-align: center;
}

.logo {
    max-width: 120px;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
    color: #2c3e50;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block; 
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%;
    padding: 14px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}


.forgot-password {
    display: block; 
    text-align: right;
    margin-top: -10px; 
    margin-bottom: 25px;
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.2s ease;
}

.forgot-password:hover {
    color: #0056b3; 
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 15px; 
}

.btn:last-child {
    margin-bottom: 0; 
}

.btn.primary {
    background-color: #008000; 
    color: white;
}

.btn.primary:hover {
    background-color: #034d0f; 
}

.btn.secondary {
    background-color: #9F2B00; 
    color: white;
}

.btn.secondary:hover {
    background-color: #e64910; 
}

@media (max-width: 500px) {
    .login-box {
        margin: 20px; 
        padding: 30px;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .input-group input {
        padding: 12px 10px;
    }

    .btn {
        padding: 12px;
        font-size: 1em;
    }

    .logo {
        max-width: 100px;
    }
}